<div class="container">
    <h1>{{Date}}</h1>
    <h2>You have burned <textarea></textarea> {{exercise_name}} calories today.</h2>
    <h2>You have consumed <textarea></textarea> {{exercise_name}} calories today.</h2>
    <h2>Your calorie deficit is <textarea></textarea> {{exercise_name}} calories.</h2>
    <h2>Today I weigh <input name="num" type="text" placeholder="enter weight" required></input> lbs.</h2>
    <button class="btn btn-primary" type="submit">Log my weight!</button>
</div>
 
<weekly class="sum">
    <h1>Weekly Summary</h1>
    <h2>You have burned <textarea></textarea> {{exercise_name}} calories this week.</h2>
    <h2>You have consumed <textarea></textarea>{{exercise_name}} calories this week.</h2>
    <h2>Your weekly calorie deficit is<textarea></textarea> {{exercise_name}} calories.</h2>
</weekly>

 <script src=""></script>


