<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

<section class="container">
  {{!-- <h3 class="gallery-name">{{gallery.name}}</h3> --}}
  <div class="pageType">
    <h1>Workout Journal</h1>
  </div>

  <div class ="dropdownMenus">
    <h2>Today's Date is {{exercise_date}}</h1>
    <h3>What type of workout did you complete today?</h3>
    <select id="brandFilter" class="form-control">
      <option>Choose workout</option>
        {{exercise_name}}
    </select>

    <h3>How many minutes did you workout?</h3>
    <select id="brandFilter" class="form-control">
      <option>Choose time interval (increments of 5)</option>
        {{exercise_minutes}}
    </select>
  </div>
  {{!-- <h3>How long did you workout? <input name="num" type="number" placeholder="enter time in minutes" required></input> minute(s)</h3> --}}
  <h3>Calories Burned: {{multiply exercise_minutes[exercise_calories]}}</h3>

  <div class="workoutLog">
    
  </div>
  
</section>
